@using Blazored.Toast.Configuration;
@inherits LayoutComponentBase
<NavMenu />
<div class="container">
    @Body
</div>
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5">
    <CloseButtonContent>
        <div>
            <span>&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>