<div class="navbar navbar-light bg-white navbar-expand-md fixed-top border-bottom">
    <div class="container">
        <span class="navbar-brand">Blazor WASM</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Customers/List">Customers</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Products/List">Producs</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Orders/List">Orders</NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>

