@page "/Customers/List"
<div class="row">
    <div class="col-12">
        <h3>Customers</h3>
        <div class="d-flex justify-content-end mb-1">
            <a href="/Customers/Create" class="btn btn-primary btn-sm">Create</a>
        </div>
        @if(customers is null)
        {
            <div>Loading...</div>
        }
        else
        {
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Customer name</th>
                        <th>Address</th>
                        <th>E-mail</th>
                        <th>...</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach(var c in customers)
                    {
                        <tr>
                            <td>@c.CustomerName</td>
                            <td>@c.Address</td>
                            <td>@c.Email</td>
                            <th>
                                <a   class="btn btn-success btn-sm" href="/Customers/edit/@c.CustomerID"><i class="bi bi-pencil"></i></a>
                                <a class="btn btn-danger btn-sm @getDisabledClass(c.CanDelete)" href="/Customers/delete/@c.CustomerID"><i class="bi bi-trash"></i></a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
@inject HttpClient http
@code {
    private CustomerDTO[]? customers;
    protected override async Task OnInitializedAsync()
    {
        customers = await this.http.GetFromJsonAsync<CustomerDTO[]>("api/Customers/DTO");
    }
    public string getDisabledClass(bool canDelete)
    {
        return canDelete ? "" : "disabled";
    }

}
